In [ ]:
import pandas as pd
import re
dummy1 = pd.Series(data=['Major Lazer & DJ Snake Featuring MO'])
#pruned1 = clean_artist_col(dummy1)
#assert pruned1[0] == 'major lazer'
dummy2 = pd.Series(data=['Selena Gomez Featuring A$AP Rocky',('Macklemore & Ryan Lewis Featuring Eric Nally,' +'Melle Mel, Kool Moe Dee & Grandmaster Caz'),'Young Thug And Travis Scott Featuring Quavo'])
#pruned2 = clean_artist_col(dummy2)
#assert pruned2[0] == 'selena gomez'
#assert pruned2[1] == 'macklemore'
#assert pruned2[2] == 'young thug'
dummy3=pd.Series(data=['Jeremih Featuring J. Cole'])
dummy4=pd.Series(data=['The Weeknd'])
dummy5=pd.Series(data=['Silento'])
dummy6=pd.Series(data=['OMI'])
dummy7=pd.Series(data=['Silento'])
dummy8=pd.Series(data=['David Guetta Featuring Nicki Minaj, Bebe Rexha & Afrojack'])
dummy9=pd.Series(data=['WALK THE MOON'])
dummy10=pd.Series(data=['5 Seconds Of Summer'])

In [ ]:
artist_name=str(dummy1)
re.split('[Ff]eaturing|&|[Aa]nd|,|x|/|,',artist_name)[0]

In [ ]:
artist_name=dummy2
artist_name=artist_name.str.lower()
artist_name

In [ ]:
#re.split(r'[&]',artist_name,1)

In [ ]:
artist_name=artist_name.str.extract('([\w+\s]*)&?',expand=False)
artist_name
#artist_name=artist_name.str.extract('(\w+\s?\w+)\sfeaturing?',expand=False)

In [ ]:
artist_name=artist_name.str.extract('([\w+\s]*)featuring?',expand=False)
artist_name

In [ ]:
artist_name=artist_name.str.replace('featuring','')
artist_name

In [ ]:
artist_name=artist_name.str.lstrip()
artist_name

In [ ]:
df = pandas.read_csv('hot100.csv')

In [ ]:
from numpy import *
common=zeros([2,3])
common

In [ ]:
left = pd.DataFrame(['sipping on fire'], columns=['song'])
right = pd.DataFrame(['sippin’ on fire'], columns=['song'])
on=['song']
#actual = fuzzy_merge(df1, df2, on=['song'])
#expected = pd.DataFrame([('sipping on fire', 'sippin’ on fire')],columns=['song_x', 'song_y'])

In [ ]:
for i in range(0,shape(left)[0]):
    score=[]
    ind=-1
    for j in range(0,shape(right)[0]):
        score_now=jaccard_similarity(str(left[on].iloc[i,:]),str(right[on].iloc[j,:]))
        print(score_now)
        score.append(score_now)
    ind=score.index(max(score))
    print(ind)
    right[on].iloc[j,:]=right[on].iloc[ind,:]
result = pd.concat([left, right], axis=1)
result.columns = ['song_x', 'song_y']
print(result)

In [ ]:
#test_fuzzy_merge_string_inde:
left = pd.DataFrame({'song':['sipping on fire'],'artist':['abs']}, index=['a'])
right= pd.DataFrame({'song':['sippinn on fire'],'artist':['abs']},index=['b'])
on=['song','artists']
left
#expected = pd.DataFrame([('sipping on fire', 'sippin’ on fire')],columns=['song_x', 'song_y'])

In [ ]:
for i in left.index:
    print(left.loc[i,on[0]])

In [ ]:
left.loc['a',on]

In [ ]:
sc=pd.DataFrame(data=['absd','0.86'],index=['a'],columns=['song2','sc'])

In [ ]:
sc=pd.DataFrame({'score':['0.86'],'song2':['absd']},index=['a'])
sc=pd.DataFrame({'score':['0.85'],'song2':['abssd']},index=['b'])
on=['score','song2']
sc[on]

In [ ]:
for i in left.index:
    score=pd.DataFrame()
    result=left.copy()
    print(score)
    for j in right.index:
        print(j)
        for k in range(0,len(on)):
            score_now=jaccard_similarity(str(left.loc[i,on[k]]),str(right.loc[j,on[k]]))
            print(score_now)
            score.loc[j,k]=score_now
    score.loc[:,'2']=score.loc[:,'1']+score.loc[:,'0']
    ind=score['2'].idxmax
    print("score_result:",score)
    #for k in range(0,len(on)):
        #result.loc[i,on[k]]=right.loc[ind,on[k]]
result = pd.concat([left, result], axis=1)
result.columns = ['song_x', 'song_y']
print(result)

In [1]:
#new-gai youyue
import pandas as pd
import re
from numpy import *
import numpy as np

In [2]:
def jaccard_similarity(a: str,
                       b: str) -> float:
    """Takes in two strings and computes their letter-wise
    Jaccard similarity for bags.

    Case should be ignored.
    """
    # TODO: Task 3
    # YOUR CODE HERE

    a=a.lower()
    b=b.lower()
    len_a = len(a)
    len_b = len(b)
    common = zeros([len_a, len_b])
    for i in range(0, len_a):
        common[i][0] = i
    for j in range(0, len_b):
        common[0][j] = j
    if a[0] == b[0]:
        common[0][0] = 0
    else:
        common[0][0] = 1
    for i in range(1, len_a):
        for j in range(1, len_b):
            if a[i] == b[j]:
                common[i][j] = common[i - 1][j - 1]
            else:
                common[i][j] = min(common[i - 1][j], common[i][j - 1], common[i - 1][j - 1]) + 1
    edit_dis = common[len_a - 1][len_b - 1]
    jaccard = max(len_a, len_b) - edit_dis
    jaccard_index = jaccard / (len_a + len_b - jaccard)
    return jaccard_index

In [33]:
lastfm=pd.read_csv("lastfm.csv")
spotify=pd.read_csv("spotify.csv")

In [34]:
right=lastfm[['main_artist_name','song_name']]
spotify_df=spotify[['main_artist_name','song_name']]
left = spotify_df[1310:1315]
on = ['song_name', 'main_artist_name']
left

     main_artist_name                                       song_name
1310    stereophonics                                a thousand trees
1311     mr. criminal  crime family rollcall (feat. the crime family)
1312      bright eyes                          trees get wheeled away
1313  richard walters                                 infinity street
1314      zoë keating                                   the last bird

In [35]:
print(str(left.loc[1310,on[0]]))

a thousand trees

In [36]:
temp=right
right=left
left=temp

result_copy = left[on]
for i in left.index:
    lst=[]
    ind=[]
    for j in right.index:
        score=0
        for k in range(len(on)):
            score += jaccard_similarity(str(left.loc[i,on[k]]), str(right.loc[j,on[k]]))
        lst.append(score)
        ind.append(j)
    indx = lst.index(max(lst))
    indx_real=ind[indx]
    most_similar_index = max(lst)
    #print("indx_real:",indx_real,"most_similar_index:",most_similar_index)
    if most_similar_index <= 0.8*len(on):
        for k in range(len(on)):
            result_copy[on[k]][i] = np.nan
    else:
        for k in range(len(on)):
            result_copy.loc[i,on[k]] = right.loc[indx_real,on[k]]
result = pd.concat([left[on], result_copy], axis=1, ignore_index=True)
result.index = range(len(result))
if len(on)==1:
    result.columns=['song_y','song_x']
    cols=list(result)
    cols.insert(0,cols.pop(cols.index('song_x')))
    result=result.ix[:,cols]
    result=result.dropna(subset=['song_x'])
elif len(on)==2:
    result.columns=['song_name_y','main_artist_name_y','song_name_x','main_artist_name_x']
    cols=list(result)
    cols.insert(0,cols.pop(cols.index('song_name_x')))
    cols.insert(1,cols.pop(cols.index('main_artist_name_x')))
    result=result.ix[:,cols]
    result=result.dropna(subset=['main_artist_name_x','song_name_x'])
    print("result:",result)

/Users/YIJIE/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2910: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

result:                  song_name_x main_artist_name_x                 song_name_y  \
162         a thousand trees      stereophonics            a thousand trees
754   trees get wheeled away        bright eyes      trees get wheeled away
1746        a thousand trees      stereophonics     a thousand trees (live)
2010  trees get wheeled away        bright eyes  the trees get wheeled away

     main_artist_name_y
162       stereophonics
754         bright eyes
1746      stereophonics
2010        bright eyes

/Users/YIJIE/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:38: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [31]:
result

,song_name_x,main_artist_name_x,song_name_y,main_artist_name_y
162,a thousand trees,stereophonics,a thousand trees,stereophonics
754,trees get wheeled away,bright eyes,trees get wheeled away,bright eyes
1746,a thousand trees,stereophonics,a thousand trees (live),stereophonics
2010,trees get wheeled away,bright eyes,the trees get wheeled away,bright eyes

In [37]:
actual=result
mask = ((actual['song_name_x'] == 'trees get wheeled away') &
             (actual['song_name_y'] == 'the trees get wheeled away'))
mask

162     False
754     False
1746    False
2010     True
dtype: bool

In [38]:
len(actual[mask])

1