In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
conn = sql.connect("/Users/YIJIE/Downloads/project1_dataset/track_metadata.db")
c = conn.cursor()
c.execute("attach '/Users/YIJIE/Downloads/project1_dataset/mxm_dataset.db' AS lyr;")
c.execute("attach '/Users/YIJIE/Downloads/project1_dataset/lastfm_tags.db' AS tag;")

In [3]:
df_lyrics=pd.read_sql("SELECT * FROM lyr.lyrics",conn)

In [4]:
df_stopwords=pd.read_csv("stopwords.csv")
df_stopwords.head(10)

       words
0          i
1         me
2         my
3     myself
4         we
5        our
6       ours
7  ourselves
8        you
9       your

In [5]:
df_lyrics2=df_lyrics.head(1000) #for test, I only read the top 1000 lines.

In [6]:
df_lyrics2=df_lyrics2.merge(df_stopwords, left_on='word', right_on='words', how='left') #merge the lyrics to stopwrods list

In [7]:
df_lyrics2[df_lyrics2['words'].isna()] #delete the lines if "wrod" are in the stopwrods list

               track_id  mxm_tid        word  count  is_test words
22   TRAAAAV128F421A322  4623710        like      2        0   NaN
23   TRAAAAV128F421A322  4623710          de      1        0   NaN
27   TRAAAAV128F421A322  4623710         got      1        0   NaN
28   TRAAAAV128F421A322  4623710       would      1        0   NaN
31   TRAAAAV128F421A322  4623710        seem      1        0   NaN
32   TRAAAAV128F421A322  4623710      someon      1        0   NaN
33   TRAAAAV128F421A322  4623710  understand      1        0   NaN
34   TRAAAAV128F421A322  4623710        pass      1        0   NaN
35   TRAAAAV128F421A322  4623710       river      1        0   NaN
36   TRAAAAV128F421A322  4623710         met      1        0   NaN
37   TRAAAAV128F421A322  4623710        piec      1        0   NaN
38   TRAAAAV128F421A322  4623710        damn      1        0   NaN
39   TRAAAAV128F421A322  4623710       worth      1        0   NaN
40   TRAAAAV128F421A322  4623710       flesh      1        0   NaN
41   TRAAAAV128F421A322  4623710       grace      1        0   NaN
42   TRAAAAV128F421A322  4623710        poor      2        0   NaN
43   TRAAAAV128F421A322  4623710     somehow      1        0   NaN
44   TRAAAAV128F421A322  4623710       ignor      1        0   NaN
45   TRAAAAV128F421A322  4623710     passion      1        0   NaN
46   TRAAAAV128F421A322  4623710        tide      1        0   NaN
47   TRAAAAV128F421A322  4623710      season      1        0   NaN
48   TRAAAAV128F421A322  4623710        seed      1        0   NaN
49   TRAAAAV128F421A322  4623710      resist      1        0   NaN
50   TRAAAAV128F421A322  4623710       order      2        0   NaN
51   TRAAAAV128F421A322  4623710        piti      1        0   NaN
52   TRAAAAV128F421A322  4623710     fashion      1        0   NaN
53   TRAAAAV128F421A322  4623710       grant      1        0   NaN
54   TRAAAAV128F421A322  4623710      captur      2        0   NaN
55   TRAAAAV128F421A322  4623710         ici      1        0   NaN
56   TRAAAAV128F421A322  4623710        soil      1        0   NaN
..                  ...      ...         ...    ...      ...   ...
955  TRAAAOF128F429C156  2973058      school      1        0   NaN
956  TRAAAOF128F429C156  2973058       scene      1        0   NaN
957  TRAAAOF128F429C156  2973058      spread      2        0   NaN
958  TRAAAOF128F429C156  2973058        luck      1        0   NaN
959  TRAAAOF128F429C156  2973058         pop      2        0   NaN
960  TRAAAOF128F429C156  2973058        doin      1        0   NaN
961  TRAAAOF128F429C156  2973058         huh      1        0   NaN
962  TRAAAOF128F429C156  2973058         ooo     17        0   NaN
963  TRAAAOF128F429C156  2973058    saturday      1        0   NaN
964  TRAAAOF128F429C156  2973058         woo      1        0   NaN
965  TRAAAOF128F429C156  2973058       beach      1        0   NaN
966  TRAAAOF128F429C156  2973058     scratch      5        0   NaN
967  TRAAAOF128F429C156  2973058        whip      1        0   NaN
968  TRAAAOF128F429C156  2973058         hop      1        0   NaN
969  TRAAAOF128F429C156  2973058         aah     12        0   NaN
970  TRAAAOF128F429C156  2973058         hmm      8        0   NaN
971  TRAAAOF128F429C156  2973058         bop      2        0   NaN
972  TRAAAOF128F429C156  2973058         wow      2        0   NaN
973  TRAAAOF128F429C156  2973058        flip      1        0   NaN
974  TRAAAOF128F429C156  2973058      blowin      1        0   NaN
975  TRAAAOF128F429C156  2973058       muscl      1        0   NaN
976  TRAAAOF128F429C156  2973058      filthi      3        0   NaN
977  TRAAAOF128F429C156  2973058       local      1        0   NaN
978  TRAAAOF128F429C156  2973058         wah      4        0   NaN
979  TRAAAOF128F429C156  2973058        oooo     15        0   NaN
980  TRAAAOF128F429C156  2973058         yah      1        0   NaN
981  TRAAAOF128F429C156  2973058        aaah      1        0   NaN
982  TRAAAOF128F429C156  2973058      jumpin      1        0   NaN
983  TRAAAOF128F429C156  2973058      eventu      1        0   NaN
984  TRAAAOF128F429C156  2973058        comb      3        0   NaN

[658 rows x 6 columns]

In [ ]:
#the following code means nothing:

In [ ]:
# stop_word_list=pd.read_sql("SELECT word,sum(count) AS sum_count FROM lyr.lyrics GROUP BY word ORDER BY sum_count DESC ",conn).head(150)

In [ ]:
#pd.read_sql("SELECT tag.tids.tid, tag.tags.tag FROM tag.tid_tag \
            INNER JOIN tag.tags ON tag.tags.ROWID==tag.tid_tag.tag \
            INNER JOIN tag.tids ON tag.tid_tag.tid==tag.tids.ROWID \
             LIMIT 1000", conn)

In [ ]:
#len(songs["artist_name"].drop_duplicates())

In [ ]:
#len(songs["artist_id"].drop_duplicates())

In [ ]:
#len(pd.read_sql("SELECT * FROM main.songs WHERE year != 0", conn))

In [ ]:
#pd.read_sql("SELECT * From main.songs",conn)

In [ ]:
#pd.read_sql("SELECT * From lyr.sqlite_master LIMIT 100",conn).head(100)

In [ ]:
#pd.read_sql("SELECT * From tag.sqlite_master",conn).head(100)